* {
    padding: 0;
    margin: 0;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading {
    font-size: 3rem;
    margin: 1rem;
}

#value {
    font-size: 6rem;
    margin: 1rem;
}

#buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem;
    border-radius: 0.5rem;
}

.btn:hover {
    cursor: pointer;
}

#value.green {
    color: green;
}

#value.red {
    color: red;
}

#value.black {
    color: black;
}



